.member {
    border: 2px solid black;
    margin-top: 5px;
    display: block;
}

input[type=text], input[type=password], input[type=date] ,select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: darkslategray;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.login-container{
    border-radius: 5px;
    position: relative;
    top: 10%;
    left: 35%;
    width: 600px;
    height: 400px;
}

.registration-container {
    border-radius: 5px;
    position: relative;
    top: 5%;
    left: 25%;
    width:1000px;
    height: auto;
}

.singer-registration {
    border-radius: 5px;
    position: relative;
    top: 5%;
    left: 25%;
    width:1000px;
    height: auto;
}

.band-registration {
    border-radius: 5px;
    position: relative;
    top: 5%;
    left: 25%;
    width:1000px;
    height: auto;
}


.list-container {
    top: 5%;
    width: 100%;
    border: 1px solid black;
}

.list-container td, .list-container th {
    border: 1px solid black;
    padding: 8px;
}


.list-container th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: silver;
    color: black;
}



